<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
    <div class="nav-top flex-grow-1">
        <div class="container d-flex flex-row h-100 align-items-center">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center">
                <a class="navbar-brand brand-logo" href="javascript:void(0)"><h2 style="color: white;"><b>Cotupap Dashboard</b></h2></a>
                <a class="navbar-brand brand-logo-mini" href="javascript:void(0)"><h2 style="color: white;"><b>Cotupap Dashboard</b></h2></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between flex-grow-1">
                <ul class="navbar-nav navbar-nav-right mr-0 ml-auto">
                    <li class="nav-item">
                        <a href="{{ path('admin_parameters_list') }}" class="nav-link"><i class="link-icon icon-home"></i><span class="menu-title"> Les Paramètres</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('list_slider') }}" class="nav-link"><i class="link-icon icon-picture"></i><span class="menu-title"> Slider</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('list_ads') }}" class="nav-link"><i class="link-icon icon-picture"></i><span class="menu-title"> Ads</span></a>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a href="{{ path('admin_parameters_list') }}" class="nav-link"><i class="link-icon icon-book-open"></i><span class="menu-title"> Les Categorys</span></a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a href="{{ path('admin_parameters_list') }}" class="nav-link"><i class="link-icon icon-book-open"></i><span class="menu-title"> Les Validateurs</span></a>#}
{#                    </li>#}

                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" id="profileDropdown">
                            <i class="icon-user icon-lg"></i>
{#                            <span class="nav-profile-name">{{ app.user.username }}</span>#}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="{{ path('fos_user_profile_edit') }}">
                                <i class="icon-settings text-primary mr-2"></i>
                                Edit
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">
                                <i class="icon-logout text-primary mr-2"></i>
                                Sortir
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="icon-menu text-dark"></span>
                </button>
            </div>
        </div>
    </div>
</nav>