<header class="header header-6 header-intro-cotupap">
    <div class="header-top" style="padding: 10px;">
        <div class="container">
            <div class="header-left">
                <ul class="top-menu top-link-menu d-none d-md-block">
                    <li>
                        <a href="#">Links</a>
                        <ul>
                            <li><a href="tel:+21671257115">Tél: +216 71 25 71 15</a></li>
                            <li><a href="tel:+21671838024">Fax: +216 71 83 80 24</a></li>
                        </ul>
                    </li>
                </ul><!-- End .top-menu -->
            </div><!-- End .header-left -->

            <div class="header-right">
                <div class="social-icons social-icons-color">
                    <a href="{{ settings.settings.facebook }}" class="social-icon social-facebook" title="Facebook"
                       target="_blank"><i class="icon-facebook-f"></i></a>
                    <a href="{{ settings.settings.twitter }}" class="social-icon social-twitter" title="Twitter"
                       target="_blank"><i class="icon-twitter"></i></a>
                    <a href="{{ settings.settings.instagram }}" class="social-icon social-instagram" title="Pinterest"
                       target="_blank"><i class="icon-instagram"></i></a>
                    <a href="{{ settings.settings.pinterest }}" class="social-icon social-pinterest" title="Instagram"
                       target="_blank"><i class="icon-pinterest-p"></i></a>
                </div><!-- End .soial-icons -->
                <ul class="top-menu top-link-menu">
                    <li>
                        <a href="#">Links</a>
                        <ul>
                            <li><a href="{{ path('contact') }}"><i class="icon-heart-o"></i><b>Contactez-nous</b></a></li>
                        </ul>
                    </li>
                </ul><!-- End .top-menu -->
            </div><!-- End .header-right -->
        </div>
    </div>
    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <a href="{{ path('dash_homepage') }}" class="logo">
                    <img src="{{ asset('assets/FrontBundle/images/logo.png') }}" alt="Cotupap" width="200" height="20">
                </a>
            </div><!-- End .header-left -->
            <div class="header-center">
                {% if settings.settings.search == "true" %}
                <div class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="{{ path('global_articles_result', {'category': 'CA01' , 'page': 1}) }}" method="get">
                        <div class="header-search-wrapper search-wrapper-wide">
                            <label for="q" class="sr-only">Rechercher</label>
                            <input type="search" class="form-control" name="q" id="q" placeholder="Rechercher ..." required>
                            <button class="btn btn-primary" type="submit">OK</button>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->
                {% endif %}
            </div>
            <div class="header-right custom-url" data-url="{{ path('ajouter_produit') }}">
                {% if status != 'in' %}
                <a href="#signin-modal" data-toggle="modal" class="wishlist-link" style="border-right: 1px solid #80808033; padding-right: 2rem;">
                    <i class="icon-user"></i>
                    <span class="wishlist-txt"><b>Mon Compte</b><br> Connexion<br> Création de compte</span>
                </a>
                {% else %}
                    <a href="javascript:void(0)" class="wishlist-link" style="border-right: 1px solid #80808033; padding-right: 2rem;">
                        <i class="icon-user"></i>
                        <span class="wishlist-txt">Bienvenue {{ client['tnom'] }}<br><b onclick="location.href='{{ path('compte_client') }}';">Mon Compte</b><br><i onclick="location.href='{{ path('logout_page') }}';">Déconnecter</i>
                    </span>
                    </a>
                {% endif %}
                {{ render(controller('FrontBundle:Default:panierTopHeader')) }}
            </div>
        </div><!-- End .container -->
    </div><!-- End .header-middle -->

    {#    <div class="header-bottom sticky-header">#}
    {#        <div class="container">#}
    {#            <div class="header-center">#}
    {#                <nav class="main-nav">#}
    {#                    <ul class="menu sf-arrows">#}
    {#                        <li class="megamenu-container active">#}
    {#                            <a href="{{ path('dash_homepage') }}" class="sr-only-focusable">Accueil</a>#}
    {#                        </li>#}
    {#                        {{ render(controller('FrontBundle:Default:categorys')) }}#}
    {#                    </ul><!-- End .menu -->#}
    {#                </nav><!-- End .main-nav -->#}

    {#                <button class="mobile-menu-toggler">#}
    {#                    <span class="sr-only">Basculer le menu mobile</span>#}
    {#                    <i class="icon-bars"></i>#}
    {#                </button>#}
    {#            </div><!-- End .header-left -->#}

    {#            <div class="header-right">#}
    {#                <i class="la la-lightbulb-o"></i><p>Jusqu'à 30% de rabais</p>#}
    {#            </div>#}
    {#        </div><!-- End .container -->#}
    {#    </div><!-- End .header-bottom -->#}

    <div class="header-bottom sticky-header" style="box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.71);">
        <div class="container">
            <div class="header-center">
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        {{ render(controller('FrontBundle:Default:categorys')) }}
                    </ul><!-- End .menu-vertical -->
                </nav><!-- End .side-nav -->
            </div><!-- End .category-dropdown -->
        </div><!-- End .header-left -->
    </div><!-- End .container -->
    </div><!-- End .header-bottom -->
</header><!-- End .header -->
