{% extends '@Dash/validateur/base-validateur.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Liste des Commands</h4>
            {#            <h3 id="category-name" style="display: none;">{{ heading[0].name }}</h3>#}
            <div class="row">
                <div class="col-12 table-responsive">
                    <table id="order-listing" class="table" data-url="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ path('validateur_list_commands') }}">
                        <thead>
                        <tr>
                            <th>Command ID</th>
                            <th>Code Client</th>
                            <th>Client Name</th>
                            <th>Client Phone</th>
                            <th>Date Command</th>
                            <th>Status</th>
                            <th style="color: red;">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for command in commands %}
                            <tr>
                                <td>{{ command.id }}</td>
                                <td>{{ command.client.codeClient }}</td>
                                <td>{{ command.client.fullname }}</td>
                                <td>{{ command.client.phone }}</td>
                                <td>{{ command.dcr | date ('d/m/Y') }}</td>
                                <td><label class="badge badge-{% if command.status == 'En Attente' %}warning{% else %}info{% endif %}">{{ command.status }}</label></td>
                                <td><button class="btn btn-outline-primary command-detail" data-id="{{ command.id }}">View</button></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="commandModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document" style="margin-bottom: calc(60px + 30px);">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Détails de la Commande</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="display: contents;">×</button>
                </div>
                <div class="command-information">
                    {#Content Injected Here#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{  parent() }}
{#    <script src="{{ asset('assets/DashBundle/js/data-table-validateur-list-commands.js') }}"></script>#}
{% endblock %}