{% extends '@Admin/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add new Banner</h4>
                    <p class="card-description" style="color: red;">
                        Url and Alt not required**
                    </p>
                    <form class="forms-sample" id="ads-form" data-url="{{ path('upload_ads') }}">
                        <div class="form-group">
                            <label for="url">Url to redirect when click on banner</label>
                            <input name="url" type="text" class="form-control" id="url" placeholder="URL">
                        </div>
                        <div class="form-group">
                            <label for="alt">Alt</label>
                            <input name="alt" type="text" class="form-control" id="alt" placeholder="Image ALT">
                        </div>
                        <div class="form-group">
                            <label for="position">Position (Right or Bottom the slider)</label>
                            <select class="form-control" id="position" name="position">
                                <option value="Right">Right</option>
                                <option value="Bottom">Bottom</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Image upload</label>
                            <input type="file" name="files" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                </span>
                            </div>
                        </div>
                        <button id="ads-submitd" type="submit" class="btn btn-primary mr-2">Submit</button>
                    </form>
                </div>
            </div>
{#            <div class="card">#}
{#                <div class="card-body">#}
{#                    <h4 class="card-title">Upload your Banner</h4>#}
{#                    {{ form_start(uploadForm, {'action':path('upload_ads'), 'method' : 'POST', 'attr': {'id' : 'form-with-dropzone', 'class' : 'forms-sample' }}) }}#}
{#                    <div class="row">#}
{#                        <div class="dropzone-previews"></div>#}
{#                        <div class="fallback">#}
{#                            {{ form_widget(uploadForm.files) }}#}
{#                        </div>#}
{#                    </div>#}
{#                    {{ form_end(uploadForm) }}#}
{#                    <div class="row no-margin-right no-margin-left">#}
{#                        <div class="form-group no-margin-right no-margin-left" style="margin-top: 30px;">#}
{#                            <div class="pull-right">#}
{#                                <button id="submit" type="submit" class="btn btn-sm btn-inverse"><i class="ace-icon typcn typcn-location-arrow-outline align-top bigger-115"></i>&nbsp;Upload Image(s)</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
        <div class="col-md-6 grid-margin grid-margin-md-0 stretch-card">
            <div class="card">
                <div class="card-body">
                    {% if ads is not empty %}
                        <h4 class="card-title">List of Banners</h4>
                    {% else %}
                        <h4 class="card-title">There is no ad to show!!!</h4>
                    {% endif %}
                    {% for ad in ads %}
                        <div class="d-flex align-items-center py-3 border-bottom">
                            <img class="img-sm rounded-circle" src="{{ asset('uploads/media/banners/') ~ ad.files }}" alt="{{ ad.alt }}">
                            <div class="ml-3">
{#                                {% if ad.size matches '/^\\d+$/' %}#}
{#                                    <h6 class="mb-1">File-Size: {{ (ad.size / 1024)|round(2) }} Kb</h6>#}
{#                                {% else %}#}
{#                                    <h6 class="mb-1">File-Size: 0 Kb</h6>#}
{#                                {% endif %}#}
                                {% if ad.url is not empty %}<small class="text-muted mb-0"><i class="icon-location-pin-outline mr-1"></i>URL: {{ ad.url }}</small><br>{% endif %}
                                {% if ad.alt is not empty %}<small class="text-muted mb-0"><i class="icon-location-pin-outline mr-1"></i>Alt Description: {{ ad.alt }}</small><br>{% endif %}
                                {% if ad.position is not empty %}<small class="text-muted mb-0"><i class="icon-location-pin-outline mr-1"></i>Position: {{ ad.position }}</small> | {% endif %}
                                {% if ad.dateCreated is not empty %}<small class="text-muted mb-0"><i class="icon-location-pin-outline mr-1"></i>Date: {{ ad.dateCreated | date }}</small> | {% endif %}
                                {% if ad.size is not empty %}
                                    {% if ad.size matches '/^\\d+$/' %}
                                        <small class="text-muted mb-0"><i class="icon-location-pin-outline mr-1"></i>File-Size: {{ (ad.size / 1024)|round(2) }} Kb</small><br>
                                    {% else %}
                                        <small class="text-muted mb-0"><i class="icon-location-pin-outline mr-1"></i>File-Size: 0 Kb</small><br>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <i class="icon-trash font-weight-bold ml-auto px-1 py-1 text-info" style="cursor: pointer;" onclick="removeAds({{ ad.id }}, '{{ path('remove_ads') }}')"></i>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{  parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.js" data-turbolinks-track="true"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="{{ asset('assets/DashBundle/js/file-upload.js') }}"></script>
    <script src="{{ asset('assets/AdminBumdle/js/ads.js') }}"></script>
{% endblock %}