{% extends '@Dash/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/DashBundle/css/checkout.css') }}">
{% endblock %}
{% block body %}
    <div class="container-fluid background" id="final-invoice">
        <div class="row padding-top-20">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 main-wrapper">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 dynamic-content">
                                <div id="template" class="row panel-wrapper">
                                    <div class="col-12 panel-header basket-header">
                                        <div class="row">
                                            <div class="col-6 basket-title">
                                                <span class="description">passez en revue votre</span><br><span class="emphasized">Résumé du Panier</span>
                                            </div>
                                            <div class="col-6 order-number align-right">
                                                <span class="description">commande #</span><br><span class="emphasized">1-23-456789A</span>
                                            </div>
                                        </div>
                                        <div class="row column-titles padding-top-10">
                                            <div class="col-5 align-center"><span>Nom/Ref</span></div>
                                            <div class="col-2 align-center"><span>Quantité</span></div>
                                            <div class="col-3 align-right"><span>Prix</span></div>
                                            <div class="col-2 align-right"><span>Action</span></div>
                                        </div>
                                    </div>
                                    <div class="col-12 panel-body basket-body" id="basket-body">
                                        {% for item in items %}
                                        <div class="row product" data-ref="{{ item['reference'] }}">
                                            <div class="item-ref" style="display: none; visibility: hidden;" data-value="{{ item['reference'] }}"></div>
                                            <div class="col-5">{{ item['name'] }}<br><span class="additional">Ref: {{ item['reference'] }}</span></div>
                                            <div class="col-2 align-right" style="display: flex;"><span class="sub" style="margin-top: 15%;">PC</span> <input class="qte" style="border: none; margin-left: 10px; width: 100%;" type="number" value="{{ item['qte'] }}" min="1" max="1000"></div>
                                            <div class="col-3 align-right">{{ item['totalSingle'] }} <span class="sub">TND</span></div>
                                            <div class="col-2 align-right delete-article"><i class="icon-trash" style="color: red"></i></div>
                                        </div>
                                        {% endfor %}
                                        <div class="col-12 align-right"><input type="button" onclick="updateBasket()" id="btnSubmit" class="update-content" value="Mise a jour panier"></div>
                                    </div>
                                    <div class="col-12 panel-footer basket-footer">
                                        <hr>
                                        <div class="row">
                                            <div class="col-8 align-right description"><div class="dive">Total</div></div>
                                            <div class="col-4 align-right"><span class="emphasized">{{somme}} TND</span></div>
                                            <div class="col-8 align-right description"><div class="dive">livraison</div></div>
                                            <div class="col-4 align-right"><span class="emphasized">{{livraison}} TND</span></div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-8 align-right description"><div class="dive">Total</div></div>
                                            <div class="col-4 align-right"><span class="very emphasized">{{total}} TND</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="row panel-wrapper">
                                    <div class="col-12 panel-header creditcard-header">
                                        <div class="row">
                                            <div class="col-12 creditcard-title">
                                                <span class="description">Merci de bien vouloir vérifier vos</span><br><span class="emphasized">Informations Personnelles</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 panel-body creditcard-body">
                                        <form action="{{ path('panier_invoice') }}" id="formoid" method="post" target="_self">
                                            <fieldset>
                                                <label for="card-name">Nom et Prenom</label><br>
                                                <i class="fa fa-user-o" aria-hidden="true"></i><input type='text' id='name' name='nom-prenom' placeholder='Nom et Prenom' title='Nom et Prenom'>
                                            </fieldset>
                                            <fieldset>
                                                <label for="card-name">Addresse de livraison</label><br>
                                                <i class="fa fa-user-o" aria-hidden="true"></i><input type='text' id='shipping' name='nom-prenom' placeholder='Addresse de livraison' title='Nom et Prenom'>
                                            </fieldset>
                                            <fieldset>
                                                <label for="card-name">Numero de telephone</label><br>
                                                <i class="fa fa-user-o" aria-hidden="true"></i><input type='text' id='phone' name='nom-prenom' placeholder='Numero de telephone' title='Nom et Prenom'>
                                            </fieldset>
                                            <fieldset>
                                                <label for="card-name">Matricule Fiscal</label><br>
                                                <i class="fa fa-user-o" aria-hidden="true"></i><input type='text' id='mf' name='nom-prenom' placeholder='Matricule Fiscal' title='Nom et Prenom'>
                                            </fieldset>
                                            <div class="col-12 panel-footer creditcard-footer" style="background: none;height: fit-content; padding-top: 23px;">
                                                <div class="row">
                                                    <div class="col-12 align-right"><button class="cancel">Annuler</button>&nbsp;<button class="confirm">Confirmer</button></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/DashBundle/js/checkout.js') }}"></script>
    <script>
        function updateBasket (e){
            var articleTable = [];
            var good_order = $('#basket-body').find('.row');
            $.each(good_order, function( index, value ) {
                articleTable.push({
                    qte:  $(this).find('input.qte').val(),
                    ref: $(this).data('ref')
                })
            });
            // console.log(articleTable);
            $.ajax({
                url: '{{ path('update_article_qte') }}',
                type: "POST",
                dataType: "json",
                data: {
                    "action": "update",
                    "objects": articleTable,
                },
                async: true,
                success: function (data)
                {
                    if (data['status'] === 'Done'){
                        console.log('done');
                        $('.dynamic-content').html(data);
                    }else {
                        console.log(data);
                        $('.dynamic-content').html(data);
                    }
                }
            });
        }

        $("#formoid").submit(function(event) {
            /* stop form from submitting normally */
            event.preventDefault();
            /* get the action attribute from the <form action=""> element */
            var $form = $( this ),
                url = $form.attr( 'action' );
            /* Send the data using post with element id name and name2*/
            var posting = $.post( url, { name: $('#name').val(), shipping: $('#shipping').val(), phone: $('#phone').val(), mf: $('#mf').val() } );
            console.log(posting);
            /* Alerts the results */
            posting.done(function( data ) {
                $('#final-invoice').html(data);
            });
        });
    </script>
{% endblock %}