{% for parentCategory in heading %}
    <li class="megamenu-container" style="border-left: 1px solid #80808036;">
        <a href="javascript:void(0)" class="sf-with-ul">{{ parentCategory.name }}</a>

        <div class="megamenu" style="width: 90%; margin: auto;">
            <div class="row no-gutters" style="margin-left: auto; margin-right: auto; width: 100%;-webkit-box-shadow: 0px 12px 19px -6px rgba(0,0,0,0.71); box-shadow: 0px 12px 19px -6px rgba(0,0,0,0.71);">
                <div class="col-md-8">
                    <div class="menu-col">
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    {% set myVal = 0 %}
                                    {% for category in categorys %}
                                    {% if parentCategory.reference == category.parent %}
                                    {% set myVal = myVal + 1 %}
                                    <li><a href="{{ path('global_articles_result', {'category': category.reference, 'page': 1}) }}">{{ category.name }}</a></li>
                                    {% if myVal is divisibleby(10) %}
                                    {% set myVal = 0 %}
                                </ul>

                            </div>
                            <div class="col-md-6">
                                <ul>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .menu-col -->
                </div><!-- End .col-md-8 -->

                <div class="col-md-4">
                    <div class="banner banner-overlay">
                        <a href="{{ path('global_articles_result', { 'page': 1, 'category': parentCategory.reference }) }}" class="banner banner-menu">
                            {% if file_exists(web_path ~ parentCategory.reference ~ ('.png')) %}
                                <img src="{{ asset('uploads/articles/') ~ parentCategory.reference ~ ('.png') }}" alt="{{ parentCategory.name }}">
                            {% else %}
                                <img src="https://via.placeholder.com/218x314.png?text=Cotupap" alt="{{ parentCategory.name }}">
                            {% endif %}
                            <div class="banner-content banner-content-top" style="left: 0;">
                                <div class="banner-title text-white">VOIR<br>TOUTES LES<br><span><strong style="font-size: 20px;">{{ parentCategory.name }}</strong></span></div><!-- End .banner-title -->
                            </div><!-- End .banner-content -->
                        </a>

{#                        <a href="{{ path('global_articles_result', { 'page': 1, 'category': parentCategory.reference }) }}" class="banner banner-menu">#}
{#                            <img src="https://via.placeholder.com/218x314?text=Cotupap" alt="{{ parentCategory.name }}">#}

{#                            <div class="banner-content banner-content-top" style="left: 0;">#}
{#                                <div class="banner-title text-white">VOIR<br>TOUTES LES<br><span><strong style="font-size: 20px;">{{ parentCategory.name }}</strong></span></div><!-- End .banner-title -->#}
{#                            </div><!-- End .banner-content -->#}
{#                        </a>#}
                    </div><!-- End .banner banner-overlay -->
                </div><!-- End .col-md-4 -->
            </div><!-- End .row -->
        </div><!-- End .megamenu megamenu-md -->
    </li>
{% endfor %}