{% extends '@Front/base.html.twig' %}
{% block mainContent %}
    <main class="main">
        <div class="page-header text-center"
             style="background-image: url({{ asset('assets/FrontBundle/images/page-header-bg.jpg') }})">
            <div class="container">
                <h1 class="page-title">{{ categoryName }}</h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('dash_homepage') }}">Accueil</a></li>
                    {% if parentCategory.name != 'NaC' %}
                        <li class="breadcrumb-item"><a href="{{ path('global_articles_result', { 'page': 1, 'category': parentCategory.ref }) }}">{{ parentCategory.name }}</a></li>
                    {% endif %}
                    <li class="breadcrumb-item active" aria-current="page">{{ categoryName }}</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->
        <div id="articles-result" data-category="{{ category }}" data-url="{{ path('filter_marque') }}">
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        {{ render(controller('FrontBundle:Articles:articleResult',{ 'catRef':category, 'page': page })) }}
{#                        {{ render(controller('FrontBundle:Articles:filter')) }}#}
                    </div>
                </div>
            </div>
        </div>
    </main><!-- End .main -->
{% endblock %}
{% block javascript %}
{{ parent() }}
<script src="{{ asset('assets/FrontBundle/js/panier.js') }}"></script>
<script src="{{ asset('assets/FrontBundle/js/cotupap/filter.js') }}"></script>
<script>
function loadTablePage(categoryId, page) {
   $.ajax({
       url: '/api/' + categoryId + '/' + page,
       method: 'POST',
       success: function (content) {
           // $('#articles-result').html(content);
           console.log(content)
       }
   })
}
</script>
{% endblock %}