{% extends '@Front/base.html.twig' %}
{% block mainContent %}
    <main class="main">
        <div class="page-header text-center" style="background-image: url({{ asset('assets/FrontBundle/images/page-header-bg.jpg') }})">
            <div class="container">
                <h1 class="page-title">Mon compte</h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('dash_homepage') }}">Accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Mon compte</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-4 col-lg-3">
                            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Tableau de bord</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Ordres</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Détails du compte</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('logout_page') }}">Déconnexion</a>
                                </li>
                            </ul>
                        </aside><!-- End .col-lg-3 -->

                        <div class="col-md-8 col-lg-9">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                    <p>Bonjour <span class="font-weight-normal text-dark">utilisateur</span> (Pas <span class="font-weight-normal text-dark">Utilisateur</span>? <a href="{{ path('logout_page') }}">Se déconnecter</a>)
                                        <br>
                                        Depuis le tableau de bord de votre compte, vous pouvez voir votre <a href="#tab-orders" class="tab-trigger-link link-underline">Dernières commandes</a>.</p>
                                </div><!-- .End .tab-pane -->

                                <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                    {# Condition and loop throught orders #}
                                    <p>Aucune commande n'a encore été effectuée.</p>
                                    <a href="{{ path('dash_homepage') }}" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- .End .tab-pane -->

                                <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Nom</label>
                                                <input type="text" class="form-control" value="{{ client['tnom'] }}" readonly>
                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label>Code Client</label>
                                                <input type="text" class="form-control" value="{{ client['tclient'] }}" readonly>
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Telephone</label>
                                                <input type="text" class="form-control" value="{{ client['tphone'] }}" readonly>
                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label>Fax</label>
                                                <input type="text" class="form-control" value="{{ client['tfax'] }}" readonly>
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Matricule Fiscale</label>
                                                <input type="text" class="form-control" value="{{ client['tmatFiscale'] }}" readonly>
                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label>Adresse</label>
                                                <input type="text" class="form-control" value="{{ client['tadresse'] }}" readonly>
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->
                                    </form>
                                </div><!-- .End .tab-pane -->
                            </div>
                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->
{% endblock %}
{% block javascript %}
{{ parent() }}
<script src="{{ asset('assets/FrontBundle/js/cotupap/compte.js') }}"></script>
{% endblock %}